
backend/.env
node_modules
.env
cognitoconfig.js
worklog.txt
*.txt
worklog.txt
worklog.txt
update_security_group.py
config.yaml
deploy-ec2.py
deploy.log
deploy-ec2/
backend/access.log
backend/.env.development
backend/.env.production
frontend/.env.development
frontend/.env.production
frontend/.env.development
